version: '3.8'

services:
  app:
    image: django
    build:
      context: ./django
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./django/:/app/django
    expose:
      - 8000
    env_file:
      - secrets/.env.deps
    links:
      - db
    depends_on:
      - db
  db:
    image: postgres:13.0-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - secrets/.env.deps
  server:
    image: nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile.https
    restart: on-failure
    ports:
      - 80:80
      - 443:443
    depends_on:
      - app

volumes:
  postgres_data:
