body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #16191b;
    color: #e0e0e0;
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #e0e0e0;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.img_logo {
    position: absolute;
    width: 203.2px;
    height: 255.32px;
    left: 50px;
    top: -50px;
    background: url("/static/assets/img/vr_extended.png");
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 1;
}

.black_logo_banner {
    position: top;
    width: 100%;
    height: 100px;
    top: 113px;
    background: #000000;
}

.login_text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 14px;
}

.login {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
    margin-right: 40px;
    padding-top: 35px;
    font-size: 14px;
}

.login_text:hover {
    color: #F79189;
}

.menu_bar {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #F79189;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu {
    display: flex;
    justify-content: center;
    /* centramos en el eje horizontal*/
    margin-top: 20px;
    gap: 180px;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.text_menu {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.text_menu:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.btn-warning {
    background: #AA4747;
    opacity: 80%;
    border: none;
    color: white;
}

.btn-warning:hover {
    opacity: 100%;
    border: none;
    color: white;
}

.btn-primary {
    background: #AC4841;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background: #A53F37;
    border-color: #A53F37;
}