#movie-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 890px;
    margin:auto;
}

/* Banner */

.banner {
    display: flex;
    gap: 2px;
    position: relative;
    margin-bottom: 28px;
}

.poster {
    display: flex;
    width: 33%;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover {
    display: flex;
    flex: 1;
    position: relative;
}

.trailer {
    position: absolute;
    bottom: 64px;
    left: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;

    font-size: 24px;
    font-weight: lighter;
}

.trailer * {
    position: initial;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#info-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 24px 8px 24px;
    position: absolute;
    width: 100%;
    bottom: -42px;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 35.56%);
}

/* Rating box */

#rating-box {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 18px;
}

/* Star box */

.star-box {
    display: flex;
    flex-direction: column;
}

.star-box .headline {
    font-size: 11px;
    font-weight: lighter;
    color: #575757;
    margin: 0;
}

.star-box .content {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 28px;
} 

.star-box .content .edit-rating svg{
    height: 24px;
    width: 24px;
}

.star-box .content .delete-rating svg{
    height: 24px;
    width: 24px;
}

.star-box .content .delete-rating:hover {
    cursor: pointer;
    color: red;
}

/* Options box */

#options-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding-right: 20px;

    font-size: 15px;
    font-weight: 200;
}

#options-box * {
    margin: 0;
}

#options-box .option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Genres box */

.genres-box {
    float: right;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.genre {
    border: 1px solid #938F99;
    border-radius: 10px;
    padding: 6px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

/* Content */

#all {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#info {
    width: 100%;
}

#prev {
    width: 100%;
}

.title {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;

}

.date-time {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 25px;
}

.icon-inf {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 5px;
}

#text {
    width: 100%;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 54px;
}

.credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin-bottom: 30px;
}

.what {
    font-weight: 700;
}

.big {
    font-size: 18px;
}

.movie-option {
    background-color: black;
}

/* Casting */

.cast {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Example grid configuration */
    justify-content: center;
    grid-gap: 64px 64px;
    max-height: calc((96px + 58px) * 5);
    overflow: hidden;
    margin-top: 72px;
}

.actor {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 96px;
}

.actor img, .no-profile-image {
    display: flex;
    aspect-ratio: 1/1;
    object-fit: cover;

    height: 100%;
    border: 0;
    border-radius: 50%;
}

.no-profile-image svg {
    height: 100%;
    width: 100%;
    color: rgb(155, 155, 155);
}

.actor .empty {
    background-color: black;
    border-radius: 50%;
}

.actor .info {
    display: flex;
    flex-direction: column;
}

.actor .name {
    font-size: 16px;
    font-weight: 700;
}

.actor .character {
    font-size: 14px;
    font-weight: 400;
}

#show-more-cast {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#show-more-cast:hover {
    cursor: pointer;
}

.show-all-rows {
    max-height: none;
}

/* Similar movies */

.movie-carousel {
    margin: 64px 0;
}

/* User rating */


#user-rating .stars {
    display: flex;
    justify-content: center;
    height: 24px;
    width: 100%;
}

#user-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.review-form .form-title {
    font-size: 18px;
    font-weight: 700;
}

.review-form .options {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    gap: 24px;
    align-items: center;
}

.review-form .options .cancel:hover {
    color: red;
}

.review-form .options .add{
    height: 42px;
    padding: 0 12px;
    border-radius: 48px;
    border: none;
}

.review-form .options .add:hover{
    background-color: rgb(228, 255, 255);
}

.rating-form {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.add-review {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 32px;
    background-color: #575757;
    margin: 0;
    height: 36px;
}

.rating {
    display: flex;
    align-items: flex-end;
    gap: 18px;
    height: 100%;
}

/* Reviews */

.reviews {
    margin-top: 48px;
}

/* Utils */

.hidden {
    display: none;
}
