.profile-info {
    margin-top: 64px;
}

#profile-name {
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
}

/* .heading {
    display: flex;
    gap: 22px;
}

.reviews-title {
    font-size: 24px;
    font-weight: bold;
} */