.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    max-width: 960px;
    margin: auto;
    margin-top: 64px;
    flex: 1;
    width: 100%;
}

.carousels {
    width: 100%;
}

.reviews-box {
    max-width: 720px;
    width: 100%;
}

.reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 64px;
}

#profile-name {
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
}