<section class="movie-carousel" vocab="http://schema.org/" typeof="MovieSeries">
    <div class="movie-carousel-heading" property="name">
        <a id="{{ id }}" class="section-title step" href={{url}} property="url">{{ title }}</a>
        <span class="iconify s24" data-icon="material-symbols:arrow-back-ios-new-rounded" data-flip="horizontal"></span>
    </div>
    <div class="carousel">
        <div class="movies">
            {% for movie in movies %}
                {% include 'web/movie-preview.html' with movie=movie only %}
            {% endfor %}
        </div>
    </div>
</section>
