{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ film.title }}</h1>
  <p><strong>Duration:</strong> {{ film.duration }}</p>
  <p><strong>Release Date:</strong> {{ film.release_date }}</p>

  <p><strong>Plot:</strong> {{ film.plot }}</p>
  <p><strong>Actors:</strong> {{ film.actors.all|join:", " }}</p>
  <p><strong>Directors:</strong> {{ film.directors.all|join:", " }}</p>
  <p><strong>Language:</strong> {{ film.languages.all|join:", " }}</p>
  <p><strong>Genre:</strong> {{ film.genres.all|join:", " }}</p>

  <form action="{% url 'rating' film.id %}" method="POST" class="mb-3">
    {% csrf_token %}

    {{ form.errors }}

    <div hidden>
      {{ form.film }}
    </div>

    <p>{% for score_choice in SCORE_CHOICES %}
      <input type="radio" name="score" id="score{{ forloop.counter }}" value="{{ score_choice.0 }}" />
      <label for="choice{{ forloop.counter }}">{{ score_choice.1 }} star{{ score_choice.0|pluralize }}</label>
      <br/>{% endfor %}
      </p>
      
    {{ form.review }}

    <input type="submit" value="Submit" />
</form>

  {% for rating in film.rating_set.all %}
    <p>{{rating.user}}  {{rating.score}}</p>
  {% endfor%}

{% endblock %}