{% extends 'base_generic.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<!-- <h1>POPULAR</h1>
{% for film in popular %}
  <p>{{ film.title }}</p>
{% endfor %}

<h1>LATEST</h1>
{% for film in latest %}
  <p>{{ film.title }}</p>
{% endfor %}

<h1>TOP 20 FILMS</h1>
{% for film in top_films %}
  <p>{{ film.title }} {{ film.vote_average }}</p>
{% endfor %}

<h1>TOP BATMAN FILMS</h1>
{% for film in top_batfilms %}
  <p>{{ film.title }} {{ film.vote_average }}</p>
{% endfor %} -->

{% endblock %}