{% extends 'base_generic.html' %}

{% load static %}

{% block links %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/movie-preview.css' %}" />
<link rel="stylesheet" href="{% static 'css/carousel.css' %}" />
<script src="{% static 'js/deep-linking.js' %}"></script>
<script src="{% static 'js/movie-preview.js' %}"></script>
{% endblock %}

{% block content %}

<div class="carousels">

    {% include 'web/carousel.html' with title="Upcoming" id='upcoming' movies=upcoming only %}

    {% include 'web/carousel.html' with title="Popular" id='popular' movies=popular only %}

    {% include 'web/carousel.html' with title="Top rated" id='top-rated' movies=top_rated only %}

    {% include 'web/carousel.html' with title="Latest" id='latest' movies=latest only %}

</div>


{% endblock %}