{% extends "base_generic.html" %} {% load static %}

{% block links %}
<!-- Style -->
<link rel="stylesheet" href="{% static 'css/score.css' %}" />
<link rel="stylesheet" href="{% static 'css/score-details.css' %}" />
<link rel="stylesheet" href="{% static 'css/movie-preview.css' %}" />
<link rel="stylesheet" href="{% static 'css/carousel.css' %}" />
<link rel="stylesheet" href="{% static 'css/movie-section.css' %}" />
<link rel="stylesheet" href="{% static 'css/rating.css' %}" />
<link rel="stylesheet" href="{% static 'css/review.css' %}" />
<link rel="stylesheet" href="{% static 'css/user-review.css' %}" />

<!-- JS -->
{% csrf_token %}
<script src="{% static 'js/movie-preview.js' %}"></script>
<script src="{% static 'js/rating.js' %}"></script>
<script src="{% static 'js/review.js' %}"></script>
<script src="{% static 'js/movie-section.js' %}"></script>
{{ urls|json_script:"urls" }}
{% endblock %}

{% block content %}
<div id="principal">

  <div class="poster">
    <img src="{{ movie.cover }}" class="image_poster" draggable="false">
  </div>

  <div class="cover">
    <img src="{{ movie.poster }}" class="image_cover" draggable="false">
  </div>

  <div id="container">
    <div id="rating-box">
      {% include 'web/score-details.html' with score=movie.tmdb_score id='tmdb_score' only %}
      {% include 'web/score-details.html' with score=score id='score' only %}
    </div>

    <div id="star-box">
      {% include 'web/rating.html' with rating=user_rating.score movie_id=movie.id user_rating=True id=rating.id only %}
    </div>

    <div id="icon-box">
      <div class="icon">
        <div class="movie-option favlist-option s42" data-movie-id="{{ movie.id }}" data-favlist="{{ movie.favlist }}">
          <span class="iconify s24 favlist-no {% if movie.favlist %} hidden {% endif %}"
            data-icon="mdi:heart-outline"></span>
          <span class="iconify s24 favlist-yes {% if not movie.favlist %} hidden {% endif %}"
            data-icon="mdi:heart"></span>
        </div>
        <div class="icon-source">Favorites</div>
      </div>
      <div class="icon">
        <div class="movie-option watchlist-option s42" data-movie-id="{{ movie.id }}"
          data-watchlist="{{ movie.watchlist }}">
          <span class="iconify s24 watchlist-no {% if movie.watchlist %} hidden {% endif %}"
            data-icon="material-symbols:bookmark-outline-rounded"></span>
          <span class="iconify s24 watchlist-yes {% if not movie.watchlist %} hidden {% endif %}"
            data-icon="material-symbols:bookmark-rounded"></span>
        </div>
        <div class="icon-source">Watchlist</div>
      </div>
    </div>
  </div>

  <div class="genres-box">
    {% for genre in movie.genres %}
    <div class="genre">
      {{ genre }}
    </div>
    {% endfor %}
  </div>

  <div id="all">
    <div id="info">
      <div id="prev">
        <div id="title" class="title">{{ movie.title }}</div>
        <div class="date-time">
          <div class="icon-inf">
            <span class="iconify" data-icon="material-symbols:calendar-today-rounded" data-width="25"
              data-height="25"></span>
            <div class="big">{{ movie.release_date }}</div>
          </div>
          <div class="icon-inf">
            <span class="iconify" data-icon="mdi:clock-time-four-outline" data-width="25" data-height="25"></span>
            <div class="big">{{ movie.runtime }}</div>
          </div>
        </div>

      </div>
      <div id="text">{{ movie.overview }}</div>
    </div>

    <div id="space"></div>

    {% if movie.directors %}
      <div class="credit">
        <div class="what">Directed by</div>
        <div>{{ movie.directors|join:", " }}</div>
      </div>
    {% endif %}

    {% if movie.writers %}
      <div class="credit">
        <div class="what">Written by</div>
        <div>{{ movie.writers|join:", " }}</div>
      </div>
    {% endif %}

    <div class="cast">
      {% for actor in movie.actors %}
        <div class="actor">
          {% if actor.profile_path %}
            <img src="{{ actor.profile_path }}" />
          {% else %}
            <div class="empty"></div>
          {% endif %}
          
          <div class="info">
            <div class="name">{{ actor.name }}</div>
            {% if actor.character %}<div class="character">{{ actor.character }}</div>{% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% include 'web/carousel.html' with title="Similar movies" id='similar' movies=similar_movies only %}

    <div id="user-rating">
      
      <div class="container {% if user_rating.review %}hidden{% endif %}">
        <div class="stars-headline ">Your rating</div>
        <div class="stars">
          {% include 'web/rating.html' with rating=user_rating.score movie_id=movie.id user_rating=True ro=False id=rating.id|add:'1' only %}
        </div>
        <div id="add-review" class="{% if not user_rating %}hidden{% endif %}">Add review</div>
      </div>
      
      <form id="review-form" method="POST" action="{% url 'review' movie.id %}"
      class="form hidden" data-movie-id="{{ movie.id }}">
      {% csrf_token %}
      {{ review_form }}
      <div class="options">
          <div id="cancel-review" class="cancel">Cancel</div>
          <div class="add">
            <input id="submit-button" type="submit" value="Add review">
          </div>
        </div>
      </form>
      
      <div id="user-review" class="review {% if not user_rating.review %} hidden {% endif %}">
        {% include 'web/user-review.html' with show_movie=False movie=movie rating=user_rating only %}
      </div>
    </div>

    <div class="reviews">
      {% for rating in ratings %}
        {% include 'web/review.html' with rating=rating only %}
      {% endfor%}
    </div>
  </form>

  </div>

  {% endblock %}