<div class="review" data-review-id="{{ rating.review.id }}" data-vote-url="{% url 'review-vote' %}" vocab="http://schema.org/" typeof="Review">
    <div class="votes-box">
        <div class="upvote {% if rating.review.user_vote == True %}active{% endif %}">
            <span class="iconify" data-icon="bxs:upvote"></span>
        </div>
        <p class="votes" typeof="upvoteCount" >{{ rating.review.votes|default:0 }}</p>
        <div class="downvote {% if rating.review.user_vote == False %}active{% endif %}">
            <span class="iconify" data-icon="bxs:downvote"></span>
        </div>
    </div>
    <div class="content">
        <div class="header">
            <div class="info">
                <input id="edit_id_title" type="text" class="title" value="{{ rating.review.title }}" readonly property="name">
                <div class="user" property="author">{% if user.is_authenticated and rating.user == user %}You{% else %}{{rating.user}}{% endif %}</div>
            </div>
            <div class="rating-box" property="reviewRating" typeof="Rating">
                {% include 'web/stars.html' with movie_id=movie_id user_rating=user_rating rating=rating.score ro=True id=rating.id|add:'1' only %}
            </div>
        </div>
        <textarea id="edit_id_content" class="body" readonly property="reviewBody">{{rating.review.content}}</textarea>
    </div>
</div>