<div class="review" data-review-id="{{ rating.review.id }}" data-vote-url="{% url 'review-vote' %}">
    <div class="votes-box">
        <div class="downvote {% if rating.review.user_vote == False %}active{% endif %}">
            <span class="iconify" data-icon="bxs:downvote"></span>
        </div>
        <p class="votes">{{ rating.review.votes|default:0 }}</p>
        <div class="upvote {% if rating.review.user_vote == True %}active{% endif %}">
            <span class="iconify" data-icon="bxs:upvote"></span>
        </div>
    </div>
    <div class="content">
        <div class="header">
            <div class="info">
                <input id="edit_id_title" type="text" class="title" value="{{ rating.review.title }}" readonly>
                <div class="user">{% if user.is_authenticated and rating.user == user %}You{% else %}{{rating.user}}{% endif %}</div>
            </div>
            <div class="rating-box">
                {% include 'web/stars.html' with movie_id=movie_id rating=rating.score ro=True id=rating.id|add:'1' only %}
            </div>
        </div>
        <textarea id="edit_id_content" class="body" readonly>
            {{ rating.review.content }}
        </textarea>
    </div>
</div>