<div class="user-review" data-review-url="{% url 'review' movie_id %}">
    {% if show_movie %}
    <div class="movie">
        {% include 'web/movie-preview.html' with movie=movie %}
    </div>
    {% endif %}
    <div class="review-box">
        {% include 'web/review.html' with rating=rating ro=True user_rating=True movie_id=movie_id only %}
        <div class="options">
            <button class="cancel">Cancel</button>
            <button class="save">Save changes</button>
            <div class="delete">
                <span class="iconify" data-icon="material-symbols:delete-outline-rounded"></span>
            </div>
            <div id="edit-button" class="edit">
                <span class="iconify" data-icon="material-symbols:edit-rounded"></span>
            </div>
        </div>
    </div>
</div>