<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}<title>View&Review</title>{% endblock %}
  {% load static %}
  <link rel="shortcut icon" href="{% static 'logo/logo.png' %}" />
  <link rel="stylesheet" href="{% static 'css/generic.css' %}">
</head>

<body>
  {% block login %}
  <div class="black_logo_banner">
    <div class="login"><a class="login_text" href={% url 'login' %}><u>Login</u></div>
  </div>
  {% endblock %}

  <img src="{% static 'logo/extended_logo.png' %}" class="img_logo"></img>

  {% block navbar %}
  <div class="menu_bar">
    <ul class="menu">
      <li><a class="text_menu" href="/">Home</a></li>
      <li><a class="text_menu" href="#">Trending</a></li>
      <li><a class="text_menu" href="Categories.html">Categories</a></li>
      <li><a class="text_menu" href="#">My List</a> </li>
    </ul>
  </div>
  {% endblock %}

  {% block content%}{% endblock %}
  </body>
</html>