<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>navbar</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Links-icons.css">
</head>

    <nav class="navbar navbar-light navbar-expand-md py-1" style="background: var(--bs-gray-900);">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center"><img src="{% static assets/img/vr.png %}" width="38" height="36"></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3" style="background: var(--bs-gray-800);"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <div class="input-group rounded" style="background: var(--bs-gray-800);width: 350px;"><input type="search" id="form1" class="form-control rounded" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" style="background: var(--bs-gray-800);border-style: none;color: var(--bs-gray-300);"><span id="search-addon" class="input-group-text border-0" style="background: var(--bs-gray-800);"><em class="fas fa-search" style="color: var(--bs-gray-300);"></em></span></div>
                    </li>
                </ul><a href="#" style="color: var(--bs-gray-400);">Log in</a>
            </div>
        </div>
    </nav>
    <div class="py-2"></div>
    <nav class="navbar navbar-light navbar-expand-md py-1" style="background: var(--bs-gray-900);">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center"><img src="assets/img/vr.png" width="38" height="36"></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="background: var(--bs-gray-800);"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <div class="input-group rounded" style="background: var(--bs-gray-800);width: 350px;"><input type="search" id="form-1" class="form-control rounded" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" style="background: var(--bs-gray-800);border-style: none;color: var(--bs-gray-300);"><span id="search-addon-1" class="input-group-text border-0" style="background: var(--bs-gray-800);"><em class="fas fa-search" style="color: var(--bs-gray-300);"></em></span></div>
                    </li>
                </ul>
            </div>
            <div class="d-inline-flex align-items-center"><a class="px-2" href="#"><i class="fas fa-home" style="color: var(--bs-gray-300);"></i></a><a class="px-3" href="#"><i class="fas fa-user" style="color: var(--bs-gray-300);"></i></a><span style="color: var(--bs-gray-300);">username</span><a class="px-2" href="#"><i class="fas fa-power-off" style="color: var(--bs-gray-300);"></i></a></div>
        </div>
    </nav>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

