{% extends 'base_generic.html' %} {% block content %}

<div class="container" style="color: white;">
  <div class="align-items-center justify-content-center d-flex">
    <div class="pt-3 flex-col w-50">
      <h1><b>Profile details</b></h1>
      <hr class="solid" />
      
      <div class="mt-3 text-center d-flex align-items-center">
        <h3>Email</h3><i class="bi bi-pencil-fill" style="color: var(--bs-gray-300); margin-left: 2vw;"></i>
      </div>
      <p>{{ user.email }}</p>
      <div class="d-flex align-items-center">
        <h3>Username</h3><label for="username-input"><i class="bi bi-pencil-fill" style="color: #0085FF;margin-left: 2vw;"></i></label><a href="#" class="btn" style="background: #2D2D2D;color: white;margin-left: 2vw;">Change</a>
      </div>
      <form method="POST" action="#">
        <input id="username-input" class="form-control w-50" placeholder="New username" style="background: #2D2D2D;border: none;color: white;"></input>
      </form>
      <div class="row pt-3">
        <h3>Password</h3>
      </div>
      <a href="#" class="btn" style="background: #2D2D2D;color: #CBCBCB;">Request password change</a>
      
    <div class="d-flex flex-row-reverse">
      <a href="#" class="mt-5 btn d-block w-25" style="color: #CBCBCB;background: #AA4747;">Delete account</a>
</div>
</div>
  </div>
</div>
{% endblock %}
