{% extends 'base_generic.html' %}

{% load static %}

{% block title %}
<title>{{username}} - View & Review</title>
{% endblock %}

{% block links %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/movie-preview.css' %}" />
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/carousel.css' %}" />
<link rel="stylesheet" href="{% static 'css/user-review.css' %}" />
<link rel="stylesheet" href="{% static 'css/review.css' %}" />
<link rel="stylesheet" href="{% static 'css/stars.css' %}" />
<script src="{% static 'js/deep-linking.js' %}"></script>
<script src="{% static 'js/movie-preview.js' %}"></script>
<script src="{% static 'js/user-review.js' %}"></script>
<script src="{% static 'js/review.js' %}"></script>
<script src="{% static 'js/stars.js' %}"></script>
{% endblock %}

{% block content %}
<main>
  <div class="profile-info">
    <h1 id="profile-name">{{username}}</h1>
    <div class="carousels">
      {% url 'user-watchlist' username as watchlist_url %}
      {% include 'web/carousel.html' with title='Watch List' id='watchlist' movies=watchlist url=watchlist_url only %}

      {% url 'user-favlist' username as favlist_url %}
      {% include 'web/carousel.html' with title='Favorite List' id='favlist' movies=favlist url=favlist_url only %}
    </div>
    <section class="reviews-box">
      <h2>Reviews</h2>
      <div class="reviews">
        {% for user_rating in user_ratings %}
          {% include 'web/user-review.html' with rating=user_rating.rating show_movie=True movie=user_rating.movie movie_id=user_rating.movie.id %}
        {% endfor %}
      </div>
    </section>
  </div>
</main>
{% endblock %}