{% extends 'base_generic.html' %}
{% load static %}

{% block links %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}" />
{% endblock %}

{% block content %}

<div class="container">
  <p class="title">Profile settings</p>
  <div class="settings">
    <div class="group">
      <div class="setting">
        <p class="name">Email</p>
        <p class="email">{{user.email}}</p>
      </div>
      <form class="setting" action="{% url 'user-update' %}" method="POST">
        {% csrf_token %}
        <p class="name">Username</p>
        <div class="user-input">
          <input type="text" name="username" id="username-input" class="username-input" placeholder="{{user.username}}"
            required>
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit" id="change-username">Change</button>
        </div>
      </form>
      <div class="setting">
        <p class="name">Password</p>
        <form action="{% url 'password_reset' %}" method="POST">
          {% csrf_token %}
          <input type="email" id="email" name="email" value="{{user.email}}" hidden />
          <button id="request-password">Request new password</button>
        </form>
      </div>
    </div>
    <div class="group">
      <div class="setting">
        <p class="name">Account</p>
        <a id="delete-account" href="{% url 'user-delete' %}">Delete account</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}