{% extends "base_generic.html" %}
{% load static %}

{% block title %}
<title>Password Reset Done - View & Review</title>
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/authorization.css' %}" />
{% endblock %}

{% block content %}

<section>
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <img src="{% static 'assets/img/vr_extended.png' %}" class="w-50" />
        <h1>Password reset request</h1>
        <p></p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-4">
        <div class="mb-5">
          <div class="d-flex flex-column align-items-center">
            <div class="w-75">
              <div class="mb-3">
                <p class="text-justify">We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}