{% extends "base_generic.html" %}
{% load static %}

{% block title %}
<title>Password Reset Confirm - View & Review</title>
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/authorization.css' %}" />
{% endblock %}

{% block content %} 

<section>
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <img src="{% static 'assets/img/vr_extended.png' %}" class="w-50" />
        <h1>Password reset</h1>
        <p></p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-4">
        <div class="mb-5">
          <div class="d-flex flex-column align-items-center">
            {% if validlink %}
            <form class="text-center w-75" method="post">
              {% csrf_token %}
              <div class="mb-2">
                <em>Password reset for <b>{{form.user}}</b>.</em>
              </div>
              <div class="mb-3">
                <input
                  type="password"
                  id="new_password1"
                  name="new_password1"
                  class="form-control"
                  placeholder="New password"
                  style="background-color: #2d2d2d; border: none; color: white"
                  required
                />
                {% if form.new_password1.errors %} 
                {% for error in form.new_password1.errors %}
                <div class="rounded text-center alert-danger my-3 px-3">
                  <small><strong>{{ error }}</strong></small>
                </div>
                {% endfor %} {% endif %}
              </div>
              <div class="mb-3">
                <input
                  class="form-control"
                  type="password"
                  id="new_password2"
                  name="new_password2"
                  placeholder="Repeat password"
                  style="background: #2d2d2d; border: none; color: white"
                  required
                />
                {% if form.new_password2.errors %} 
                {% for error in form.new_password2.errors %}
                <div class="rounded text-center alert-danger my-3 px-3">
                  <small><strong>{{ error }}</strong></small>
                </div>
                {% endfor %} {% endif %}
              </div>

              <input type="hidden" name="next" value="{{ next }}" />
              <div class="mt-5 mb-3">
                <button class="btn btn-primary d-block w-100" type="submit">
                  Reset
                </button>
              </div>
            </form>
            {% else %}
            <div class="rounded text-center alert-danger p-auto px-3 pt-3">
              <small
                ><strong>
                  <p class="warning">Password reset failed</p>
                  <p>
                    The password reset link was invalid, possibly because it has
                    already been used. Please request a new password reset.
                  </p>
                </strong></small
              >
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
