{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="container">
  <section class="py-4 py-xl-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2>Done!</h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-xl-4">
          <div class="card mb-5">
            <div class="card-body d-flex flex-column align-items-center text-justify">
              <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
              <a href="/"><p>Go to the Main Page.</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}