{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="container">
    <section class="py-4 py-xl-5">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2><strong>Password Reset</strong></h2>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-xl-4">
            <div class="card mb-5">
              <div class="card-body d-flex flex-column align-items-center">
                {% if validlink %}
                  {% if form.errors %}
                  <div class="rounded text-center alert-danger p-auto px-3 pt-3">
                    <small><strong>
                      {{ form.new_password2.errors }}
                    </strong></small>
                </div>
                  {% endif %}

                  <form class="text-center" method="post">
                    {% csrf_token %}
                    <div class="pt-3 pb-2 mb-3">
                      <input
                        type="password"
                        id="new_password1"
                        name="new_password1"
                        class="form-control"
                        placeholder="New password"
                        required
                      />
                    </div>
                    <div class="pb-2 mb-3">
                      <input
                        class="form-control"
                        type="password"
                        id="new_password2"
                        name="new_password2"
                        placeholder="Repeat password"
                        required
                      />
                    </div>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="pb-1 mb-3">
                      <button
                        class="btn btn-primary d-block w-100 main-button"
                        type="submit"
                        value="reset_password"
                        style=""
                      >
                        <strong>Reset Password</strong>
                      </button>
                    </div>
                  </form>
                {% else %}                
                <div class="rounded text-center alert-danger p-auto px-3">
                    <small><strong>
                    <p class="warning">Password reset failed</p>
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                  </strong></small>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
