{% extends 'base_generic.html' %} 
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/authorization.css' %}" />
{% endblock %}

{% block content %} 
<section>
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <a href="{% url 'index' %}">
          <img src="{% static 'assets/img/vr_extended.png' %}" class="w-50" />
        </a>
        <h1>Create an account</h1>
        <p></p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-4">
        <div class="mb-5">
          <div class="d-flex flex-column align-items-center">
            <form id="register-form" class="text-center" method="POST">
              {% csrf_token %}

              <div class="mb-3">
                {{form.username}} 
                {% if form.username.errors %} {% for error in form.username.errors %}
                <div class="rounded text-center alert-danger my-3 px-3">
                  <small><strong>{{ error }}</strong></small>
                </div>
                {% endfor %} {% endif %}
              </div>
              <div class="mb-3">
                {{form.email}} {% if form.email.errors %} {% for error in form.email.errors %}
                <div class="rounded text-center alert-danger my-3 px-3">
                  <small><strong>{{ error }}</strong></small>
                </div>
                {% endfor %} {% endif %}
              </div>
              <div class="mb-3">
                {{form.password1}} {% if form.password1.errors %} {% for error in form.password1.errors %}
                <div class="rounded text-center alert-danger my-3 px-3">
                  <small><strong>{{ error }}</strong></small>
                </div>
                {% endfor %} {% endif %}
              </div>
              <div class="mb-3">
                {{form.password2}} {% if form.password2.errors %} {% for error in form.password2.errors %}
                <div class="rounded text-center alert-danger my-3 px-3">
                  <small><strong>{{ error }}</strong></small>
                </div>
                {% endfor %} {% endif %}
              </div>

              <input type="hidden" name="next" value="{{ next }}" />
              <div class="pt-5 mb-3">
                <button
                  class="btn btn-primary d-block w-100 main-button"
                  type="submit"
                  value="register"
                  id="register-button"
                >
                  Register
                </button>
              </div>
              <p class="text-center">
                Already have an account?
                <a href="{% url 'login' %}" style="color: white">Log in</a>
                instead.
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
