{% extends "base_generic.html" %} {% load static %} {% load bootstrap5 %} {%
bootstrap_css %} {% block content %}
<div class="container">
  <section class="py-4 py-xl-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2><strong>Register</strong></h2>
        </div>
      </div>
      <div class="row d-flex justify-content-centear">
        <div class="col-md-6 col-xl-4">
          <div class="card mb-5">
            <div class="card-body d-flex flex-column align-items-center">
              {% if form.errors %}
              <div class="rounded text-center alert-danger p-auto pt-3 px-3">
                <small
                  ><strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                  </strong></small
                >
              </div>
              {% endif %}
              <form class="text-center" method="POST">
                {% csrf_token %}

                <div class="pt-3 pb-2 mb-3">{{form.username}}</div>

                <div class="pb-2 mb-3">{{form.email}}</div>

                <div class="pb-2 mb-3">
                  {{form.password1}} {{ form.password1.errors }}
                </div>

                <div class="pb-2 mb-3">
                  {{form.password2}} {{ form.password2.errors }}
                </div>

                <input type="hidden" name="next" value="{{ next }}" />
                <div class="pb-1 mb-3">
                  <button
                    class="btn btn-primary d-block w-100 main-button"
                    type="submit"
                    value="register"
                  >
                    <strong>Register</strong>
                  </button>
                </div>
                <p class="text-center">
                  Already have an account?
                  <a href="{% url 'login' %}">Log in</a> instead.
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
